* {
    box-sizing: border-box;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a{
    position: absolute;
    top: -40px;
}

.skip a:focus{
    top: 20px;
}

*:focus {
    border: 2px solid #000;
}

.navigation{
    display: grid;
    align-items: center;
    column-gap: 20px;
}

header img{
    display: grid;
    align-items: center;
    height: 115px;
    width: auto;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body{
    background-color: white;
    font-style: "Times";
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    margin: 3%;
}

h1{
    font-size: 2.2rem;
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
    padding-top: 2rem;
}

h2, h3{
    font-size: 2rem;
    font-family: "Arial", sans-serif;
    color: #00274c;
    line-height: 1.4em;
}

h3{
    font-size: 1.5rem;
}

img{
    padding: 10px;
    margin: 10px;
}

nav li{
    font-size: 1.25rem;
    display: inline;
    margin-left: 50px;
}

a:hover{
    text-decoration: underline #00274c;
}

.button{
    background-color: #00274c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

div .button{
    display: grid;
    align-items: center;

}